.dashboard {
  padding: 20px;
  background-color: #eef1f4;
  min-height: 100vh;
}

.dashboard-title {
  font-size: 28px;
  margin-bottom: 20px;
  color: #444;
}

.blocks-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.block {
  background-color: #fff;
  border: 1px solid #d1d4d8;
  border-radius: 8px;
  padding: 20px;
  width: 23%;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  position: relative;
}

.block-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon {
  font-size: 40px;
  background: rgba(0, 123, 255, 0.1);
  padding: 8px;
  color: #007bff;
  border-radius: 10px;
}

.block-title {
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 0;
  text-align: left;
  color: #444;
}

.user-count {
  font-size: 32px;
  font-weight: 500;
  color: #444;
}

.icon.total-users {
  color: blue;
}

.icon.sessions {
  color: violet;
}

.icon.bounce-rate {
  color: green;
}

.icon.avg-session-duration {
  color: orange;
}

.chart-container {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.chart-overview {
  background-color: #fff;
  border: 1px solid #d1d4d8;
  border-radius: 8px;
  padding: 20px;
  width: 65%;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.session-device {
  background-color: #f7f9fc;
  border: 1px solid #d1d4d8;
  border-radius: 8px;
  padding: 15px;
  width: 35%;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.device-info {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.device-card {
  flex: 1;
  border-radius: 8px;
  padding: 15px;
  margin: 0 10px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: white;
}

/* Mobile rang */
.device-card.mobile {
  background-color: #28a745; /* pie chart Mobile rangi */
}

/* Desktop rang */
.device-card.desktop {
  background-color: #007bff; /* pie chart Desktop rangi */
}

/* Tablet rang */
.device-card.tablet {
  background-color: #ffc107; /* pie chart Tablet rangi */
}

.device-card strong {
  display: block;
  font-size: 18px;
}

.device-card p {
  font-size: 16px;
  margin: 0;
}

.chart {
  height: 300px;
  background-color: #e9ecef;
  border-radius: 4px;
}
